body {
  margin: 0;
}

.btn {
  -webkit-box-shadow: 1px 1px 10px 0px #d4d4d4;
          box-shadow: 1px 1px 10px 0px #d4d4d4;
  margin: 15px;
  width: 230px;
  height: 340px;
  overflow: hidden;
}

.btn-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-footer__link {
  color: #fdcb46;
  font-size: 1.3em;
  padding: 15px;
  text-decoration: none;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  -webkit-animation: wiggle 1s infinite alternate;
          animation: wiggle 1s infinite alternate;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(1deg) translate(1px, 0px);
            transform: rotate(1deg) translate(1px, 0px);
  }
  10% {
    -webkit-transform: rotate(-1deg) translate(-1px, 0px);
            transform: rotate(-1deg) translate(-1px, 0px);
  }
  20% {
    -webkit-transform: rotate(1deg) translate(1px, 0px);
            transform: rotate(1deg) translate(1px, 0px);
  }
  30% {
    -webkit-transform: rotate(-1deg) translate(-1px, 0px);
            transform: rotate(-1deg) translate(-1px, 0px);
  }
  50% {
    -webkit-transform: rotate(1deg) translate(1px, 0px);
            transform: rotate(1deg) translate(1px, 0px);
  }
  60% {
    -webkit-transform: rotate(-1deg) translate(-1px, 0px);
            transform: rotate(-1deg) translate(-1px, 0px);
  }
  70% {
    -webkit-transform: rotate(1deg) translate(1px, 0px);
            transform: rotate(1deg) translate(1px, 0px);
  }
  80% {
    -webkit-transform: rotate(-1deg) translate(-1px, 0px);
            transform: rotate(-1deg) translate(-1px, 0px);
  }
  90% {
    -webkit-transform: rotate(1deg) translate(1px, 0px);
            transform: rotate(1deg) translate(1px, 0px);
  }
  100% {
    -webkit-transform: rotate(-1deg) translate(-1px, 0px);
            transform: rotate(-1deg) translate(-1px, 0px);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(1deg) translate(1px, 0px);
            transform: rotate(1deg) translate(1px, 0px);
  }
  10% {
    -webkit-transform: rotate(-1deg) translate(-1px, 0px);
            transform: rotate(-1deg) translate(-1px, 0px);
  }
  20% {
    -webkit-transform: rotate(1deg) translate(1px, 0px);
            transform: rotate(1deg) translate(1px, 0px);
  }
  30% {
    -webkit-transform: rotate(-1deg) translate(-1px, 0px);
            transform: rotate(-1deg) translate(-1px, 0px);
  }
  50% {
    -webkit-transform: rotate(1deg) translate(1px, 0px);
            transform: rotate(1deg) translate(1px, 0px);
  }
  60% {
    -webkit-transform: rotate(-1deg) translate(-1px, 0px);
            transform: rotate(-1deg) translate(-1px, 0px);
  }
  70% {
    -webkit-transform: rotate(1deg) translate(1px, 0px);
            transform: rotate(1deg) translate(1px, 0px);
  }
  80% {
    -webkit-transform: rotate(-1deg) translate(-1px, 0px);
            transform: rotate(-1deg) translate(-1px, 0px);
  }
  90% {
    -webkit-transform: rotate(1deg) translate(1px, 0px);
            transform: rotate(1deg) translate(1px, 0px);
  }
  100% {
    -webkit-transform: rotate(-1deg) translate(-1px, 0px);
            transform: rotate(-1deg) translate(-1px, 0px);
  }
}

.menu {
  height: 100%;
  -webkit-transition: 400ms;
  transition: 400ms;
  margin: 0;
}

.menu--top-1 {
  background: #fcdfdb;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu--top-1__link {
  text-decoration: none;
  font-family: 'Kalam', cursive;
  font-size: 1.1em;
  color: #3d1319;
}

.menu--top-1__link span {
  font-family: 'Devonshire', cursive;
  font-size: 0.7em;
  font-weight: 400;
}

.menu--top-2 {
  background: #fff5fe;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu--top-2__link {
  text-decoration: none;
  font-family: 'PT Serif Caption', serif;
  font-size: 0.9em;
  color: #c77412;
}

.menu--top-2__link span {
  font-family: 'Croissant One', cursive;
  font-size: 0.7em;
  background: -webkit-gradient(linear, left top, right top, from(#d17f45), to(#b07cd1));
  background: linear-gradient(to right, #d17f45, #b07cd1);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 400;
}

.menu--bot-1 {
  background: #edefef;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu--bot-1__link {
  text-decoration: none;
  font-family: 'Kalam', cursive;
  font-size: 1.1em;
  color: #0887fb;
  font-weight: 400;
}

.menu--bot-1__link span {
  font-family: 'Dancing Script', cursive;
  font-size: 0.8em;
  background: -webkit-gradient(linear, left top, right top, from(#0238e1), to(#4593f2));
  background: linear-gradient(to right, #0238e1, #4593f2);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.menu--bot-2 {
  background: #fdfffd;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu--bot-2__link {
  text-decoration: none;
  font-family: 'Kalam', cursive;
  font-size: 1.1em;
  color: #72bf56;
  font-weight: 400;
}

.menu--bot-2__link span {
  font-family: 'Kaushan Script', cursive;
  font-size: 0.8em;
  background: -webkit-gradient(linear, left top, right top, from(#5dad4b), to(#9ee46e));
  background: linear-gradient(to right, #5dad4b, #9ee46e);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.menu:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  opacity: 60%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #579c87;
  margin-top: 2%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.header {
  background: #579c87;
  text-align: center;
  margin: 0;
  padding: 15px;
}

.header__heading {
  color: #fdcb46;
  text-decoration: none;
  font-size: 1.4em;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

/*import des pages*/
.btn-byline {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-byline__link {
  border-radius: 0.6rem;
  padding: 5px 35px;
  background: #579c87;
  color: #fdcb46;
  font-size: 1.7em;
  text-decoration: none;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  margin-bottom: 90px;
}

.btn-byline__link span {
  -webkit-animation: dot 2s infinite both;
          animation: dot 2s infinite both;
}

.btn-byline__link span:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.btn-byline__link span:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes dot {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes dot {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 40em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article1__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
}

.container1 {
  width: 40em;
}

.menu1 {
  background: #fcdfdb;
  margin-bottom: 90px;
  padding: 50px;
  font-weight: 400;
  color: #3d1319;
}

.menu1__title {
  text-align: center;
  padding-bottom: 15px;
  font-family: 'Devonshire', cursive;
  font-size: 45px;
}

.menu1__top {
  font-family: 'Kalam', cursive;
}

.menu1__mid {
  font-family: 'Kalam', cursive;
}

.menu1__bot {
  font-family: 'Kalam', cursive;
}

.menu1__footer {
  text-align: center;
  padding-top: 15px;
  font-family: 'Devonshire', cursive;
  font-size: 30px;
}

.subtitle1 {
  text-align: center;
  font-size: 20px;
  position: relative;
  font-weight: 700;
}

.subtitle1__underline {
  background: linear-gradient(to top, #3d1319 0%, #3d1319 2px, transparent 3px) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 400ms;
  transition: background-size 400ms;
}

.subtitle1__underline:hover {
  background-size: 100% 100%;
}

.subtitle1__stick-left {
  content: "";
  position: absolute;
  background: currentColor;
  width: 8em;
  height: 0.2em;
  left: 0;
  bottom: 0.8em;
  border-radius: 100% 100% 100% 20%;
}

.subtitle1__stick-right {
  content: "";
  position: absolute;
  background: currentColor;
  width: 8em;
  height: 0.2em;
  right: 0;
  bottom: 0.8em;
  border-radius: 30% 100% 0% 30%;
}

.dish1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dish1__price {
  font-weight: 700;
}

/*media queries*/
@media only screen and (max-width: 720px) {
  .dish1 {
    display: block;
    text-align: center;
  }
  .container1 {
    width: 30em;
  }
  .article1__title {
    font-size: 40px;
  }
  .subtitle1__stick-right {
    width: 0;
  }
  .subtitle1__stick-left {
    width: 0;
  }
  .dish-bottom {
    text-align: center;
  }
  .menu1__top {
    padding-bottom: 15px;
  }
  .menu1__mid {
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 520px) {
  .container1 {
    width: 20em;
  }
  .article1__title {
    font-size: 30px;
  }
  .menu1__title {
    font-size: 35px;
  }
  .menu1__footer {
    font-size: 25px;
  }
}

.article2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article2__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
}

.container2 {
  width: 40em;
}

.menu2 {
  background: #fff5fe;
  margin-bottom: 90px;
  padding: 50px;
  font-weight: 400;
}

.menu2__title {
  text-align: center;
  padding-bottom: 15px;
  font-family: 'Croissant One', cursive;
  font-size: 45px;
  background: -webkit-gradient(linear, left top, right top, from(#d17f45), to(#7438eb));
  background: linear-gradient(to right, #d17f45, #7438eb);
  color: transparent;
  background-clip: text;
}

.menu2__top {
  font-family: 'PT Serif Caption', serif;
  color: #d17f45;
}

.menu2__mid {
  font-family: 'PT Serif Caption', serif;
  color: #bb81c7;
}

.menu2__bot {
  font-family: 'PT Serif Caption', serif;
  color: #7438eb;
}

.subtitle2 {
  text-align: center;
  font-size: 20px;
  position: relative;
  font-weight: 700;
}

.subtitle2__underline {
  background: linear-gradient(to top, #d17f45 0%, #7438eb 2px, transparent 3px) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 400ms;
  transition: background-size 400ms;
}

.subtitle2__underline:hover {
  background-size: 100% 100%;
}

.subtitle2__stick-left {
  content: "";
  position: absolute;
  background: currentColor;
  width: 8em;
  height: 0.2em;
  left: 0;
  bottom: 0.8em;
  border-radius: 100% 100% 100% 20%;
}

.subtitle2__stick-right {
  content: "";
  position: absolute;
  background: currentColor;
  width: 8em;
  height: 0.2em;
  right: 0;
  bottom: 0.8em;
  border-radius: 30% 100% 0% 30%;
}

.dish2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dish2__price {
  font-weight: 700;
}

/*media queries*/
@media only screen and (max-width: 720px) {
  .dish2 {
    display: block;
    text-align: center;
  }
  .container2 {
    width: 30em;
  }
  .article2__title {
    font-size: 40px;
  }
  .subtitle2__stick-right {
    width: 0;
  }
  .subtitle2__stick-left {
    width: 0;
  }
  .dish-bottom {
    text-align: center;
  }
  .menu2__top {
    padding-bottom: 15px;
  }
  .menu2__mid {
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 520px) {
  .container2 {
    width: 20em;
  }
  .article2__title {
    font-size: 30px;
  }
  .menu2__title {
    font-size: 35px;
  }
  .menu2__footer {
    font-size: 25px;
  }
}

.article3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article3__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
}

.container3 {
  width: 40em;
}

.menu3 {
  background: #edefef;
  margin-bottom: 90px;
  padding: 50px;
  font-weight: 400;
}

.menu3__title {
  text-align: center;
  padding-bottom: 15px;
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  background: -webkit-gradient(linear, left top, right top, from(#0238e1), to(#4593f2));
  background: linear-gradient(to right, #0238e1, #4593f2);
  color: transparent;
  background-clip: text;
}

.menu3__top {
  font-family: 'Kalam', cursive;
}

.menu3__mid {
  font-family: 'Kalam', cursive;
}

.menu3__bot {
  font-family: 'Kalam', cursive;
}

.subtitle3 {
  text-align: center;
  font-size: 20px;
  position: relative;
}

.subtitle3__underline {
  background: linear-gradient(to top, #0238e1 0%, #4593f2 2px, transparent 3px) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 400ms;
  transition: background-size 400ms;
}

.subtitle3__underline:hover {
  background-size: 100% 100%;
}

.subtitle3__stick-left {
  content: "";
  position: absolute;
  background: currentColor;
  width: 8em;
  height: 0.2em;
  left: 0;
  bottom: 0.8em;
  border-radius: 100% 100% 100% 20%;
}

.subtitle3__stick-right {
  content: "";
  position: absolute;
  background: currentColor;
  width: 8em;
  height: 0.2em;
  right: 0;
  bottom: 0.8em;
  border-radius: 30% 100% 0% 30%;
}

.dish3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dish3__price {
  font-weight: 700;
}

/*media queries*/
@media only screen and (max-width: 720px) {
  .dish3 {
    display: block;
    text-align: center;
  }
  .container3 {
    width: 30em;
  }
  .article3__title {
    font-size: 40px;
  }
  .subtitle3__stick-right {
    width: 0;
  }
  .subtitle3__stick-left {
    width: 0;
  }
  .menu3__top {
    padding-bottom: 15px;
  }
  .menu3__mid {
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 520px) {
  .container3 {
    width: 20em;
  }
  .article3__title {
    font-size: 30px;
  }
  .menu3__title {
    font-size: 35px;
  }
  .menu3__footer {
    font-size: 25px;
  }
}
/*# sourceMappingURL=main.css.map */