.btn {
    box-shadow: 1px 1px 10px 0px #d4d4d4;
    margin: 15px;
    width: 230px;
    height: 340px;
    overflow: hidden;
}

.btn-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__link {
        color: $text-color;
        font-size: 1.3em;
        padding: 15px;
        @include underline-none;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 400;
        animation: wiggle 1s infinite alternate;
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(1deg) translate(1px, 0px);
    }
    10%{
        transform: rotate(-1deg) translate(-1px, 0px);
    }
    20% {
        transform: rotate(1deg) translate(1px, 0px);
    }
    30% {
        transform: rotate(-1deg) translate(-1px, 0px);
    }
    50% {
        transform: rotate(1deg) translate(1px, 0px);
    }
    60% {
        transform: rotate(-1deg) translate(-1px, 0px);
    }
    70% {
        transform: rotate(1deg) translate(1px, 0px);
    }
    80% {
        transform: rotate(-1deg) translate(-1px, 0px);
    }
    90% {
        transform: rotate(1deg) translate(1px, 0px);
    }
    100% {
        transform: rotate(-1deg) translate(-1px, 0px);

    }
}

@media #{$small-menu} {
    .btn-footer {
        font-size: 0.8em;
    }
}