.btn-byline {
    text-align: center;
    display: flex;
    justify-content: center;

    &__link {
        border-radius: 0.6rem;
        padding: 5px 35px;
        background: $background-vert;
        color: $text-color;
        font-size: 1.7em;
        @include underline-none;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 400;
        margin-bottom: 90px;
    }

    &__link span {
        animation: dot 2s infinite both;

        &:nth-child(2) {
            animation-delay: 0.5s;
        }

        &:nth-child(3) {
            animation-delay: 1s;
        }
    }
}
@keyframes dot {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

.home-page {
    display: flex;
    justify-content: center;

}

.container {
    width: 40em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.menu {
    height: 100%;
    transition: 400ms;
    margin: 0;

    &__img {
        width: 1em;
    }

    &--top-1 {
        background: $background-top-1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__link {
            @include underline-none;
            font-family: 'Kalam', cursive;
            font-size: 1.1em;
            color: #3d1319;

        }

        &__link span {
            font-family: 'Devonshire', cursive;
            font-size: 0.7em;
            font-weight: 400;
        }
    }

    &--top-2 {
        background: $background-top-2;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__link {
            @include underline-none;
            font-family: 'PT Serif Caption', serif;
            font-size: 0.9em;
            color: #c77412;

        }

        &__link span {
            font-family: 'Croissant One', cursive;
            font-size: 0.7em;
            background: linear-gradient(to right, #d17f45, #b07cd1);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            font-weight: 400;
        }
    }

    &--bot-1 {
        background: $background-bot-1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__link {
            @include underline-none;
            font-family: 'Kalam', cursive;
            font-size: 1.1em;
            color: #0887fb;
            font-weight: 400;
        }

        &__link span {
            font-family: 'Dancing Script', cursive;
            font-size: 0.8em;
            background: linear-gradient(to right, #0238e1, #75b7ff);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
        }
    }

    &--bot-2 {
        background: $background-bot-2;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__link {
            @include underline-none;
            font-family: 'Kalam', cursive;
            font-size: 1.1em;
            color: #72bf56;
            font-weight: 400;
        }

        &__link span {
            font-family: 'Kaushan Script', cursive;
            font-size: 0.8em;
            background: linear-gradient(to right, #5dad4b, #9ee46e);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
        }
    }

    &:hover {
        transform: scale(1.15);
        opacity: 60%;
    }

}