$background-menu1: #fcdfdb;
$text-color: #3d1319;

.article1 {
    display: flex;
    justify-content: center;

    &__title {
        display: flex;
        justify-content: center;
        font-size: 50px;
    }
}

.container1 {
    width: 40em;
}

.menu1 {
    background: $background-menu1;
    margin-bottom: 90px;
    padding: 50px;
    font-weight: 400;
    color: $text-color;


    &__title {
        text-align: center;
        padding-bottom: 15px;
        font-family: 'Devonshire', cursive;
        font-size: 45px;
    }

    &__top {
        font-family: 'Kalam', cursive;
    }

    &__mid {
        font-family: 'Kalam', cursive;
    }

    &__bot {
        font-family: 'Kalam', cursive;
    }

    &__footer {
        text-align: center;
        padding-top: 15px;
        font-family: 'Devonshire', cursive;
        font-size: 30px;
    }
}

.subtitle1 {
    text-align: center;
    font-size: 20px;
    position: relative;
    font-weight: 700;

    &__underline {
        background: linear-gradient(to top, $text-color 0%, $text-color 2px, transparent 3px) no-repeat;
        background-size: 0 100%;
        transition: background-size 400ms;

        &:hover {
            background-size: 100% 100%;
        }
    }

    &__stick-left {
        content: "";
        position: absolute;
        background: currentColor;
        width: 8em;
        height: 0.2em;
        left: 0;
        bottom: 0.8em;
        border-radius: 100% 100% 100% 20%;

    }

    &__stick-right {
        content: "";
        position: absolute;
        background: currentColor;
        width: 8em;
        height: 0.2em;
        right: 0;
        bottom: 0.8em;
        border-radius: 30% 100% 0% 30%;
    }

}


.dish1 {
    display: flex;
    justify-content: space-between;

    &__price {
        font-weight: 700;
    }
}

/*media queries*/

@media #{$medium-menu} {
    .dish1 {
        display: block;
        text-align: center;
    }

    .container1 {
        width: 30em;
    }
    .article1__title {
        font-size: 40px;
    }

    .subtitle1__stick-right {
        width: 0;
    }

    .subtitle1__stick-left {
        width: 0;
    }
    .dish-bottom {
        text-align: center;
    }
    .menu1 {

        &__top{
            padding-bottom: 15px;
        }

        &__mid {
            padding-bottom: 15px;
        }
    }
}

@media #{$small-menu} {
    .container1 {
        width: 20em;
    }

    .article1__title {
        font-size: 30px;
    }

    .menu1__title {
        font-size: 35px;
    }

    .menu1__footer {
        font-size: 25px;
    }
}