.article3 {
    display: flex;
    justify-content: center;

    &__title {
        display: flex;
        justify-content: center;
        font-size: 50px;
    }
}

.container3 {
    width: 40em;
}

.menu3 {
    background: $background-menu3;
    margin-bottom: 90px;
    padding: 50px;
    font-weight: 400;


    &__title {
        text-align: center;
        padding-bottom: 15px;
        font-family: 'Dancing Script', cursive;
        font-size: 45px;
        background: $color-menu3;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    &__top {
        font-family: 'Kalam', cursive;
    }

    &__mid {
        font-family: 'Kalam', cursive;
    }

    &__bot {
        font-family: 'Kalam', cursive;
    }

}

.subtitle3 {
    text-align: center;
    font-size: 20px;
    position: relative;

    &__underline {
        background: linear-gradient(to top, #0238e1 0%, #75b7ff 2px, transparent 3px) no-repeat;
        background-size: 0 100%;
        transition: background-size 400ms;

        &:hover {
            background-size: 100% 100%;
        }
    }

    &__top-color {
        color: #0238e1;
        background: currentColor;
    }

    &__mid-color {
        color: #3093ff;
        background: currentColor;
    }

    &__bot-color {
        color: #75b7ff;
        background: currentColor;
    }

    &__stick-left {
        content: "";
        position: absolute;
        width: 8em;
        height: 0.2em;
        left: 0;
        bottom: 0.8em;
        transform: skewX(30deg);

        &::after {
            content: "";
            position: absolute;
            width: 0.4em;
            height: 0.23em;
            border-radius: 100%;
            border: solid;
            border-color: transparent transparent currentColor;
            border-width: 0.2em 0.2em 0.2em 0em;
            left: -0.26em;
            top: -0.46em;
            transform: rotate(20deg);
        }
    }

    &__stick-right {
        content: "";
        position: absolute;
        width: 8em;
        height: 0.2em;
        right: 0;
        bottom: 0.8em;
        transform: skewX(-30deg);

        &::after {
            content: "";
            position: absolute;
            width: 0.4em;
            height: 0.23em;
            border-radius: 100%;
            border: solid;
            border-color: transparent transparent currentColor;
            border-width: 0.2em 0em 0.2em 0.2em;
            right: -0.26em;
            top: -0.46em;
            transform: rotate(-20deg);
        }
    }

}

.dish3 {
    display: flex;
    justify-content: space-between;

    &__price {
        font-weight: 700;
    }
}

/*media queries*/

@media #{$medium-menu} {
    .dish3 {
        display: block;
        text-align: center;
    }

    .container3 {
        width: 30em;
    }

    .article3__title {
        font-size: 40px;
    }

    .subtitle3__stick-right {
        width: 0;

        &::after {
            border-color: transparent;
        }
    }

    .subtitle3__stick-left {
        width: 0;

        &::after {
            border-color: transparent;
        }
    }

    .menu3 {

        &__top {
            padding-bottom: 15px;
        }

        &__mid {
            padding-bottom: 15px;
        }
    }
}

@media #{$small-menu} {
    .container3 {
        width: 20em;
    }

    .article3__title {
        font-size: 30px;
    }

    .menu3__title {
        font-size: 35px;
    }

    .menu3__footer {
        font-size: 25px;
    }
}